#
# MIT License
#
# Copyright (c) 2017-2018 Thibault Martinez and Simon Ninon
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
#

# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.{build}

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image:
  - Visual Studio 2017
  - Visual Studio 2015

#---------------------------------#
#       build configuration       #
#---------------------------------#

configuration:
  - Release
  # AppVeyor only processes one build at a time, leading to a large queue of builds
  # To avoid that, it is more convenient to skip Debug build, especially when the main target is Release environment
  #- Debug

environment:
  matrix:
    - arch: Win64
    - arch: Win32

init:
  - set generator_arch=
  - if "%arch%"=="Win64" (set generator_arch= Win64)
  - if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2017" (set generator="Visual Studio 15 2017%generator_arch%")
  - if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2015" (set generator="Visual Studio 14 2015%generator_arch%")

install:
  - git submodule update --init --recursive
  - set JAVA_TOOL_OPTIONS=-Xmx2000m

before_build:
  - sh test/testnet/iri_setup_windows.sh
  - ps: Start-Job -ScriptBlock {java -jar test/testnet/iri/target/iri-1.4.2.1.jar -c test/testnet/iri/iri.ini}
  - mkdir build
  - cd build
  - cmake .. -DBUILD_TESTS=1 -DBOOST_ROOT=c:\Libraries\boost_1_65_1 -G %generator%

build:
  project: c:\projects\iota-lib-cpp\build\iota.sln

test_script:
  - ctest -C Release -VV
